html, body
    background-color: #dfdfdf
ul
    list-style: none
z
header
    height: 100px
    background-color: #333
    color: #fff
    position: absolute
    width: 100%
    padding: 15px 15px
    display: flex
    flex-direction: row
    margin: auto
    justify-content: space-between
    align-items: center
    p
        font-size: 20px
        justify-content: center
        font-weight: bold
        padding-left: 30px
        color: #FFA726
    nav
        display: flex
        flex-direction: row
        gap: 30px
        padding-right: 60px
        ul
            display: flex
            text-decoration: none
            list-style: none
            gap: 15px
            li
                font-weight: 600
                font-size: 20px
                text-transform: uppercase

footer
    background-color: #333
    color: #fff
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    padding: 15px
    text-align: center
.home-page
    display: flex
    flex-direction: column
    main
        width: 100%
        max-width: 1250px
        margin: auto
        padding: 80px 30px
        min-height: 550px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .title
            width: 60%
            font-size: 70px
            text-transform: uppercase
            font-weight: 600
            padding: 150px 0 60px 0
            text-align: center
            color: #414141
        .description, .highlight
            font-size: 30px
            text-align: center
            padding-top: 30px
            padding-bottom: 40px
        .description
            color: #707070

        .highlight
            color: #FFA726
            font-weight: bold
            font-size: 40px
        .all-events
            display: flex
            gap: 130px
            padding-top: 100px
        .home-events-container
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            h2
                font-size: 35px
                max-width: 300px
                margin-bottom: 60px
            .image
                border-radius: 12px
                width: 300px
                height: 300px
            .text-container
                width: 90%
                margin-top: 35px
                line-height: 20px
                text-align: justify

.home_body
    display: flex
    flex-direction: column
    gap: 50px

.image
    width: 40%
.card
    display: flex
    flex-direction: row
    gap: 30px
    justify-content: center
    align-content: center
    align-items: center
    &:nth-child(even)
        direction: rtl
    .content
        width: 50%

.about_us
    display: flex
    flex-direction: column
    align-items: center
    padding: 5% 15%
    font-size: 22px
    line-height: 40px
    h1
        padding: 20px 40px 40px 40px
        text-align: center
        text-transform: uppercase
    h2
        text-transform: uppercase
        padding: 20px
    p
        text-align: justify
.events_container
    padding: 140px 50px 50px 50px
    h1
        text-align: center
        text-transform: uppercase
        font-size: 40px
        font-weight: 600
    .events_page
        display: flex
        flex-direction: row
        margin: 10% 20%
        gap: 105px
        justify-content: space-around
        .card
            position: relative
            h2
                position: absolute
                width: 100%
                top: 50%
                text-align: center
                font-size: 38px
                color: white
                text-transform: uppercase
                text-shadow: 1px 1px 20px black

.cat_events
    width: 100%
    padding: 40px
    .events_title
        text-transform: uppercase
    .content
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 30px
        width: 100%
        justify-content: flex-start
        .card
            display: flex
            flex-direction: column
            width: 30%

.event_single_page
    padding: 200px 60px
    display: flex
    gap: 40px
    .single-image
        border-radius: 4px
    .event-content
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        .email_registration
            margin-top: 25px
            display: flex
            flex-direction: column
            align-items: center
            gap: 20px
            label
                display: flex
                margin-bottom: 15px
                font-size: 18px
                font-weight: 800
                text-transform: uppercase
                margin-top: 25px
            input
                height: 40px
                min-width: 350px
                box-shadow: none
                border-radius: 5px
                border: 1px solid #ccc
                font-size: 16px
                padding-left: 10px
            button
                border-radius: 5px
                height: 40px
                min-width: 150px
                border: 1px solid #5f5a5a
                font-size: 16px
                text-transform: uppercase
                margin-left: 10px
                font-weight: 600
                background: #dcfff3
                cursor: pointer
                &:hover
                    color: #dcfff3
                    background: #333
